@charset "UTF-8";
@keyframes slideDown {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #2A2A2C;
    color: #BAAE95;
}

header {
    background-color: #2A2A2C;
    width: 100vw;
    height: 150px;
    border-bottom: 1px solid #BAAE95;
    border-top: 1px solid #BAAE95;
}

nav {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.287);
}

.menu {
    position: relative;
    background-color: #232325;
    width: 100vw;
    margin: auto;
    border-bottom: 1px solid #BAAE95;
}

.menu_button {
    text-align: center;
    color: #BAAE95;
}

.menu_option {
    position: absolute;
    top: 100%;
    display: none;
    width: 100vw;
    border-bottom: 1px solid #BAAE95;
}

.link {
    color: #BAAE95;
    text-decoration: none;
    position: relative;
    width: 100vw;
    text-align: center;
    border-top: 1px solid #BAAE95;
    padding: 10px;
}
.link1 {
    color: #BAAE95;
    text-decoration: none;
}

#ultima_op {
    border-bottom: 1px solid #BAAE95;
}

.link:hover {
    background-color: #baae9523;
}
.link1:hover {
    color: #232325;
}

.menu:hover .menu_option {
    display: block;
    animation: slideDown 0.5s ease;
    background-color: #232325;
}

#wpp {
    height: 3em;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

#logo_insta {
    height: 15px;
}
#logo_wpp {
    height: 15px;
}

main {
    display: block;
    margin: auto;
    width: 80vw;
    /* font-family: ; */
    font-size: 1em;
}
h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.287);
}
h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: lighter;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.287);
}

#box {
    background-color: #6c6c726a;
    margin: auto;
    width: 35vw;
    height: 60vh;
    padding: 15px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 0.3px solid #BAAE95; 
    line-height: 2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.287);
}

#bill-list {
    text-align: center;
    list-style: none;
}

a {
    color: #BAAE95;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}